body {
    background-color: azure;
    box-sizing: border-box;
    background-image: url('1.png');
    background-repeat: no-repeat;
    opacity: 0.8;
  filter: alpha(opacity=50);
}
.container {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

/* header */
.header {
    width: 800px;
    background-color: aquamarine;
    height: 150px;
}
.header01 {
    text-align: center;
    padding: 20px;
    line-height: 120px;
}

/* main */
.main {
    width: 800px;
    height: 300px;
    /* background-color: azure; */
}
.card01 {
    width: 300px;
    height: 260px;
    background-color: aquamarine;
    margin-top: 30px;
    margin-left: 80px;
    display: inline-block;
    box-shadow: 0 3px 4px 0 grey;
}
.card02 {
    float: right;
    width: 300px;
    height: 260px;
    background-color: aquamarine;
    margin-right: 80px;
    /* display: inline-block; */
    margin-top: 30px;
    box-shadow: 0 3px 4px 0 grey;
}
.form {
    text-align: center;
}
.input {
    padding: 6px;
    border-radius: 0px;
}


/* footer */
.footer {
    width: 800px;
    height: 80px;
    background-color: aquamarine;
    clear: both;
}
.footer01 {
    text-align: center;
    padding-top: 30px;
}

/* registration page */
.register {
    width: 550px;
    height: 600px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 0 3px 4px 0 grey;
}
.reg1 {
    padding: 20px;
    height: 100px;
}
.reg2 {
    height: 300px;
    margin-top: 30px;
}

